{% load static %}
<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-6">
          <div class="copyright text-center text-sm text-muted text-lg-start">
           Copyright © <script>
              document.write(new Date().getFullYear())
            </script>
            <a href="" class="font-weight-bold" target="_blank">Business</a>
            All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</main>
<div class="fixed-plugin">
<a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
  <i class="fa fa-cog py-2"> </i>
</a>
<div class="card shadow-lg">

    <div class="float-end mt-4">
      <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
        <i class="fa fa-close"></i>
      </button>
    </div>
 
</div>
<!--   Core JS Files   -->
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/argon-dashboard.min.js' %}"></script>